* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 50px;
}

.list {
    background-color: rgb(128, 255, 128);
    text-decoration: none;
}

.list .lasagna {
    color: red;
}

.list .pizza {
    color: blue;
}

.list .hamburger {
    color: yellow;
}

.description {
    background-color: greenyellow;
    color: black;
    font-size: 38px;
}

.p{
    background-color: aqua;
    color: black;
}

.steps{
    background-color: rgb(250, 39, 39);
    color: rgb(35, 98, 214);
    font-weight: bold;
}